<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>bean.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Patient</servlet-name>
        <servlet-class>bean.Patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor</servlet-name>
        <servlet-class>bean.Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>bean.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profession</servlet-name>
        <servlet-class>bean.Profession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSignUp</servlet-name>
        <servlet-class>bean.DoctorSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSignUp</servlet-name>
        <servlet-class>bean.PatientSignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Patient</servlet-name>
        <url-pattern>/Patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor</servlet-name>
        <url-pattern>/Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profession</servlet-name>
        <url-pattern>/Profession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSignUp</servlet-name>
        <url-pattern>/DoctorSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSignUp</servlet-name>
        <url-pattern>/PatientSignUp</url-pattern>
    </servlet-mapping>
</web-app>
